<article>
  <header class="header">
    <h3>Inventory Items</h3>
    <form [formGroup]="form" class="filter-grid">
      <dot-care-input
        [fuzzyOptions]="fuzzyOptions | async"
        label="Name"
        placeholder="Enter Item Name"
        formControlName="Name"
      ></dot-care-input>

      <dot-care-dropdown
        formControlName="SelectedCategories"
        *ngIf="categoriesDropdown | async as cat; else loadingCategories"
        placeholder="Select Category"
        label="Category"
        [items]="cat"
      ></dot-care-dropdown>
      <ng-template #loadingCategories>Loading Categories...</ng-template>

      <dot-care-dropdown
        formControlName="SelectedWarehouses"
        *ngIf="warehousesDropdown | async as warh; else loadingWarehouses"
        placeholder="Select Warehouse"
        label="Warehouse"
        [items]="warh"
      ></dot-care-dropdown>
      <ng-template #loadingWarehouses>Loading Warehouses...</ng-template>

      <dot-care-dropdown
        formControlName="BalanceOperator"
        [multiSelect]="false"
        label="Balance Operator"
        [items]="balanceOperators"
        placeholder="Select Operator"
      ></dot-care-dropdown>

      <dot-care-input
        formControlName="Balance"
        label="Balance"
        placeholder="0"
        type="number"
      ></dot-care-input>

      <dot-care-button>Filter</dot-care-button>
    </form>
  </header>
  <dot-care-datatable
    *ngIf="total_pages | async as pg; else loadingItems"
    [rows]="rows | async"
    [columns]="columns"
    [pages]="pg"
    [currentPage]="(currentPage | async) || 0"
    (changePage)="currentPage.next($event)"
  ></dot-care-datatable>
  <ng-template #loadingItems>Loading Items...</ng-template>
</article>
