:host {
  display: flex;
}

.logo {
  height: 100%;
  padding: 8px var(--Size-Default);
  background-color: var(--BW-980);
}

.top-bar {
  background-color: var(--Primary-Default);
  flex-grow: 1;
  height: var(--Size-Default);
}

.tail {
  position: relative;
  margin-left: calc(var(--Size-Default) * -1);
}
