<dot-care-surface>
  <nav>
    <dot-care-icon-label
      class="nav-item"
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      icon="Dashboard"
      label="Dashboard"
    >
    </dot-care-icon-label>
    <dot-care-icon-label
      class="nav-item"
      routerLink="inventory"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      icon="Warehouse"
      label="Inventory Management"
    ></dot-care-icon-label>
  </nav>
</dot-care-surface>
