/*
   * Remove template code below
   */
:host {
  display: block;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
  position: relative;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  > dot-care-preview {
    margin: 0 10px;
  }
}

.previews {
  display: flex;
  flex-direction: column;
}

.previews > * {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.padding {
  padding: 1em;
}
